@page "/error"

<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <img src="https://lith-vov-bucket.s3.amazonaws.com/anisphia-scared.jpg" alt="Not Found" class="img-fluid mb-4" style="width:800px" />
        <h1 class="display-4 mb-3">
            Wahhh! You found a Bug!
        </h1>
        <p class="lead">
            You got me! But you can help me fixing this by emailing how you discovered this via <a href="mailto:nglinh031@gmail.com">nglinh031@gmail.com</a>.
        </p>
    </div>
</div>
