@page "/"

<PageTitle>Index</PageTitle>

<Slider></Slider>
<HomeSection></HomeSection>
<div class="container">
	<hr />
</div>
<Newsletter></Newsletter>

<SurveyPrompt Title="How is Blazor working for you?" />
