<!-- Card Section -->
<section>
    <div class="container">
        <hr />
        <h2>Magicology Club - An Overview</h2>
        <p>Short introduction, or slogan of the club</p>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About two -->
<div class="container">
    <hr />
    <h2>About Vovinam</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://placehold.co/1300x800"
                     class="img-fluid rounded-top"
                     alt="" />
            </div>
            <div class="col-sm-6">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    ipsam minus dignissimos, explicabo labore ab? Veniam illum fugit
                    facilis dignissimos voluptates similique officiis iure, sit illo
                    accusamus quaerat tempore neque!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About One -->
<div class="container">
    <hr />
    <h2>About Our Vovinam Club</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    ipsam minus dignissimos, explicabo labore ab? Veniam illum fugit
                    facilis dignissimos voluptates similique officiis iure, sit illo
                    accusamus quaerat tempore neque!
                </p>
            </div>
            <div class="col-sm-4">
                <img src="https://placehold.co/1300x800"
                     class="img-fluid rounded-top"
                     alt="" />
            </div>
        </div>
    </div>
</div>
<!-- News Component -->
<div class="container">
    <hr />
    <h2>News</h2>
    <div id="newsCardIndicators"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#newsCardIndicators"
                    data-bs-slide-to="0"
                    class="active d-none"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-bs-target="#newsCardIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                    class="d-none"></button>
            <button type="button"
                    data-bs-target="#newsCardIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                    class="d-none"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/800x300"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card 1</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/800x300"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card 2</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/800x300"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card 3</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/800x300"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card 4</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/800x300"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card 5</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/800x300"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card 6</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#newsCardIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#newsCardIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@code {

}
